/* https://coolors.co/f5f1ed-608072-a2988e-3d514a-002e2c */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #608072;
    user-select: none;
}

.body-container,
.header,
.footer,
.function-container,
.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    flex-flow: column wrap;
}

.header {   
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: 700;
    padding: 50px;
    text-shadow: 4px 4px 1px #A2988E;
    color: #F5F1ED;
}

.main-container {
    display: flex;
    gap: 150px;
    border-radius: 25px;
    background-color: #F5F1ED;
    padding: 100px 180px;
    margin: 30px;
}

.function-container {
    flex-direction: column;
    gap: 40px;
    padding: 25px;
    max-width: 200px;
}

button {
    padding: 7px 25px;
    border-radius: 20px;
    width: 90px; 
}

.color-container {
    flex-direction: column;
    box-shadow: 3px 3px 4px #a9a9a9;
}

.color-picker {
    appearance: none;
    border: none;
    cursor: pointer;
    width: 10em;
    height: 10em;
    padding: 0;
    margin: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
    border: none;
}

.color-label {
    padding: 8px;
}

output {
    display: block;
    text-align: center;
}

.footer {
    color: #F5F1ED;
    padding: 20px;
}

.grid-container {   
    width: 36em;
    min-width: 18em;
    aspect-ratio: 1/1;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    box-shadow: 3px 3px 7px #a9a9a9;
    margin: 10px;
}

.grid-square {
    aspect-ratio: 1 / 1;
    width: 100%;
    flex: auto;
}

.grid-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

input[type=range] {
    -webkit-appearance: none;
    width: 150px;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: #BFB7B0;
    box-shadow: 2px 2px 4px #a9a9a9;
    height: 9px;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background-color: #608072;
    margin-top: -2px;
    box-shadow: 1px 1px 3px #3D514A;
}

input[type=range]::-webkit-slider-thumb:

